<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>{{ site.title }}</h1>
        </div>

        <ul class="sidebar-nav">
            <li class="sidebar-nav-item"><a href="/">Home</a></li>
            <li class="sidebar-nav-item"><a href="/cv">Curriculum vitae</a></li>
            <li class="sidebar-nav-item"><a href="http://facebook.com/alex.westphal">Facebook</a></li>
            <li class="sidebar-nav-item"><a href="http://github.com/phantomspectre">GitHub</a></li>
            <li class="sidebar-nav-item"><a href="http://linkedin.com/pub/alex-westphal/27/84/670">LinkedIn</a></li>
            <li class="sidebar-nav-item"><a href="http://stackoverflow.com/users/1139911/spectre">StackOverflow</a></li>
        </ul>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>
